{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<!-------------------->
<!---   Config     --->
<!-------------------->

<div class="container mt-4">

  <div class="row">
      <div class="col-auto me-auto">
          <h1> {{ current_user.username }}'s Dashboard </h1>
      </div>

      <div class="col-auto">
          <a href="{{ url_for('logout') }}" class="btn btn-danger"> Logout </a>
      </div>
  </div>
</div>


<!-------------------->
<!---   Config     --->
<!-------------------->

<div class="container mt-4">
  <form method="post" action="/update/user" >
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Setting</th>
          <th scope="col">Configuration</th>
        </tr>
      </thead>
      <tbody>
        <!---   Config     --->
        <tr>
          <th scope="row">LightCurve plot</th>
          <td>
            <div class="btn-group mb-2">
              {% if current_user.config__lcplot == None or current_user.config__lcplot == 'flux' %}
                <input type="submit" value="flux " name="config__lcplot" class="btn btn-secondary btn-sm">
                <input type="submit" value=" mag " name="config__lcplot" class="btn btn-outline-secondary btn-sm">
              {% else %}
                <input type="submit" value=" flux " name="config__lcplot" class="btn btn-outline-secondary btn-sm">
                <input type="submit" value=" mag " name="config__lcplot" class="btn btn-secondary btn-sm">
              {% endif %}
            </div>
          </td>
        </tr>
        <!---   User     --->
        <tr>
          <th scope="row">Change Password</th>
          <td>
            <a href="{{ url_for('update_password') }}" class="btn btn-warning btn-sm"> Update </a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

{% endblock %}
