{% extends 'base.html' %}

{% block content %}


<h1> Login: </h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label(class="form-label") }}
        {{ form.username (class="form-control") }}
      <br/>
      <br/>
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
      <br/>
      <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
</div>

{% endblock %}
