{% extends 'base.html' %}

{% block title %} Target list {% endblock %}

{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">ra</th>
            <th scope="col">dec</th>
            <th scope="col">redshift</th>
            <th scope="col">z_quality</th>
            <th scope="col">autotype</th>
            <th scope="col">subtype</th>
        </tr>
    </thead>
    <tbody>
        {% for target in targets %}
            <tr>
                <th scope="row">{{ target.id}}</th>
                <td><a href="{{ url_for('target_page', name=target.name)}}" > {{ target.name }} </a></td>
                <td>{{ target.ra }}</td>
                <td>{{ target.dec }}</td>
                {% if target.redshift == None %}
                    <td> None </td>
                {% else %}
                    <td>{{ "{:,.5f}".format(target.redshift) }}</td>
                {% endif %}
                <td>{{ target.z_quality }}</td>
                <td>{{ target.auto_type }}</td>
                <td>{{ target.auto_subtype }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}
