{% extends 'base.html' %}

{% block title %}{{ target.name }}{% endblock %}


{% block content %}


<div class="sticky-top my-2 py-0" style="background: linear-gradient(to top,
                                                                rgba(254, 254, 254 ,0.5),
                                                                rgba(254, 254, 254 , 1 ))">
    <div class="row">
        <div class="col-auto me-auto">
            <h1> Classify {{ target.name }} </h1>
        </div>


        <div class="col-auto my-2">
          <a class="btn btn-outline-secondary" href="http://skipper.caltech.edu:8080/cgi-bin/growth/view_source.cgi?name={{ target.name }}" target="_blank">
             See on Growth
          </a>
        </div>
        <div class="col-auto my-2">
          <a class="btn btn-outline-primary" href="https://fritz.science/source/{{ target.name }}" target="_blank">
             See on Fritz
          </a>
        </div>
    </div>


    <div class="row">
        <div class="col-auto">
          {% if target.auto_subtype_prob == None %}
              {% if target.auto_type_prob == None %}
                  <h4 style="color:#CCD1D1;">
                    auto-typing: None
                  </h4>
              {% else %}
                  <h4 style="color:#CCD1D1;">
                    auto-typing: p({{ target.auto_type }})={{ "{:,.0%}".format(target.auto_type_prob ) }} ; no subtyping.
                  </h4>
              {% endif %}
          {% else %}
            <h4 style="color:#CCD1D1;">
              auto-typing: p({{ target.auto_type }})={{ "{:,.0%}".format(target.auto_type_prob ) }}
             ; p({{ target.auto_subtype }}|{{ target.auto_type }})={{ "{:,.0%}".format(target.auto_subtype_prob ) }}
            </h4>
          {% endif %}
        </div>
        <div class="col-auto me-auto">
            <h4 style="color:#CCD1D1;">
              redshift: {{ "{:,.4f}".format(target.redshift) }} (qual: {{ target.z_quality }})
            </h4>
        </div>

   </div>
</div>

<!--- This is a comment --->
<br/>
<!--- This is a comment --->

<form method="post" action="/classify/{{ target.id }}" >

    <!---   First Raw   --->
    <div class="btn-toolbar justify-content-between container-fluid" role="toolbar" aria-label="Toolbar with button groups">
        <!-------------------->
        <!---   Ia block   --->
        <!-------------------->
        <div class="input-group">

            <div class="btn-group mb-2 me-2" role="group" aria-label="First group">
                <input type="submit" value=" SN Ia " name="typing" class="btn btn-success">
            </div>
            <!--- Ia subclass  --->
            <div class="btn-group mb-2" role="group" aria-label="Second group">
                <input type="submit" value=" Ia-norm  " name="typing" class="btn btn-outline-success">
                <input type="submit" value="  Ia-91T  " name="typing" class="btn btn-outline-success">
                <input type="submit" value=" Ia-91bg  " name="typing" class="btn btn-outline-success">
                <input type="submit" value=" Ia-other " name="typing" class="btn btn-outline-success">
            </div>
        </div>
        <!-------------------->
        <!--- Unclear block--->
        <!-------------------->
        <div class="input-group">
            <div class="btn-group mb-2 me-2" role="group" aria-label="First group">
              <input type="submit" value=" Unclear " name="typing" class="btn btn-secondary">
            </div>
        </div>
        <!-------------------->
        <!--- Not Ia block --->
        <!-------------------->
        <div class="input-group">
            <div class="btn-group mb-2 me-2" role="group" aria-label="First group">
              <input type="submit" value="Not Ia " name="typing" class="btn btn-warning">
            </div>
            <!-- notIa subclass -->
            <div class="btn-group mb-2" role="group" aria-label="Second group">
                <input type="submit" value="  II   " name="typing" class="btn btn-outline-warning">
                <input type="submit" value=" Ib/c  " name="typing" class="btn btn-outline-warning">
                <input type="submit" value="  Gal  " name="typing" class="btn btn-outline-warning">
                <input type="submit" value=" other " name="typing" class="btn btn-outline-warning">
            </div>
        </div> <!---  End Block non-Ia --->
    </div> <!---  End First Raw   --->

    <!--- Second Raw --->
    <div class="btn-toolbar justify-content-between container-fluid" role="toolbar" aria-label="Toolbar with button groups">

        <div class="input-group">
          <div class="input-group-prepend mb-2 me-2">
            <input type="submit" value=" Report:" name="report" class="btn btn-danger disabled">
	    <input type="submit" value=" Redshift " name="report:target:redshift" class="btn btn-outline-danger">
	    <input type="submit" value=" No Spectra " name="report:target:nospectra" class="btn btn-outline-danger">
	    <input type="submit" value=" No Lightcurve " name="report:target:nolightcurve" class="btn btn-outline-danger">	    
	    <input type="submit" value="  Target  " name="report:target:target" class="btn btn-outline-secondary">
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend  mb-4">
            <input type="submit" value="  Skip  " name="skip" class="btn btn-outline-dark">
          </div>
        </div>
    </div>
</form>

<!--- This is a comment --->
<br/>
<br/>
<!--- This is a comment --->

<div class="container-fluid">
  <!--- Loop over the spectra --->
  <form method="post" action="/classify/{{ target.id }}" >
    {% for specplot in spectraplots %}
    <div class="row">
      <img src='data:image/png;base64,{{ specplot }}'/>
    </div>
    <div class="row mb-3 ">
      <div class="d-grid gap-2 d-sm-flex justify-content-end">

        <div class="btn-group mb-2 " role="group" aria-label="First group">
          <input type="submit" value=" Report:" name="report" class="btn btn-outline-danger disabled btn-sm">
        </div>

        <div class="btn-group mb-2">
          <input type="submit" value=" data " name="report:spec:data:{{loop.revindex0}}" class="btn btn-outline-secondary btn-sm">
          <input type="submit" value=" snid " name="report:spec:snid:{{loop.revindex0}}" class="btn btn-outline-secondary btn-sm">
          <input type="submit" value=" line " name="report:spec:emissionline:{{loop.revindex0}}" class="btn btn-outline-secondary btn-sm">
        </div>
      </div>
    </div>
    {% endfor %}
  </form>

    <!--- Show the LC --->
  {% if lcplot != None %}    
  <div class="row justify-content-md-center">
    <img src='data:image/png;base64,{{ lcplot }}' />
  </div">

  <form method="post" action="/classify/{{ target.id }}" >
    <div class="row mb-3">
      <div class="d-grid gap-2 d-sm-flex justify-content-end">

        <div class="btn-group mb-2" role="group" aria-label="First group">
          <input type="submit" value=" Report:" name="report" class="btn btn-outline-danger disabled btn-sm">
        </div>

        <div class="btn-group mb-2">
          <input type="submit" value=" data " name="report:lightcurve:data" class="btn btn-outline-secondary btn-sm">
          <input type="submit" value=" salt " name="report:lightcurve:salt" class="btn btn-outline-secondary btn-sm">
        </div>
      </div>
    </div>
    </form>
    {% endif %}

</div">


{% endblock %}
