{% extends 'base.html' %}

{% block title %} Target list {% endblock %}

{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">ra</th>
            <th scope="col">dec</th>
	    <th scope="col">redshift</th>
            <th scope="col">redshift_err</th>	    
	    <th scope="col">z_source</th>
            <th scope="col">classification</th>	    
        </tr>
    </thead>
    <tbody>
        {% for name, target in targets.iterrows() %}
            <tr>
                <td><a href="{{ url_for('target_page', name=name)}}" > {{ name }} </a></td>
                <td>{{ target.ra }}</td>
                <td>{{ target.dec }}</td>
                {% if target.redshift == None %}
                    <td> None </td>
                {% else %}
                    <td>{{ "{:,.5f}".format(target.redshift) }}</td>
		{% endif %}
		{% if target.redshift_err == None %}
                    <td> None </td>
                {% else %}
                    <td>{{ "{:,.5f}".format(target.redshift_err) }}</td>
		{% endif %}    
		<td>{{ target.source }}</td>
                <td>{{ target.classification }}</td>		    
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}
