{% extends 'base.html' %}

{% block title %}{{ target.name }}{% endblock %}


{% block content %}

<div class="sticky-top my-2 py-0" style="background: linear-gradient(to top,
                                                                rgba(254, 254, 254 ,0.5),
                                                                rgba(254, 254, 254 , 1 ))">
    <div class="row">
        <div class="col-auto me-auto">

          {% if data.classification not in ('None', 'confusing', 'nan') %}
            <h1> {{ target.name }} is classified as a '{{ data.classification }}' </h1>
            <h3> currently |
              {% for key, value in typing.items() %}
                 {{ value }}:{{ key }}
              {% endfor %}
            </h3>
          {% elif  data.classification == 'confusing' %}
            <h1> {{ target.name }} is confusing </h1>
            <h3> details |
              {% for key, value in typing.items() %}
                 {{ value }}:{{ key }}
              {% endfor %}
             </h3>
          {% else %}
            <h1> {{ target.name }} need additional inputs </h1>
            <h3> details |
              {% for key, value in typing.items() %}
                 {{ value }}:{{ key }}
              {% endfor %}
             </h3>
          {% endif %}

        </div>

        <div class="col-auto my-2">
          <a class="btn btn-outline-secondary" href="http://skipper.caltech.edu:8080/cgi-bin/growth/view_source.cgi?name={{ target.name }}" target="_blank">
             See on Growth
          </a>
        </div>
        <div class="col-auto my-2">
          <a class="btn btn-outline-primary" href="https://fritz.science/source/{{ target.name }}" target="_blank">
             See on Fritz
          </a>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
          {% if target.auto_subtype_prob == None %}
              {% if target.auto_type_prob == None %}
                  <h4 style="color:#CCD1D1;">
                    auto-typing: None
                  </h4>
              {% else %}
                  <h4 style="color:#CCD1D1;">
                    auto-typing: p({{ target.auto_type }})={{ "{:,.0%}".format(target.auto_type_prob ) }} ; no subtyping.
                  </h4>
              {% endif %}
          {% else %}
            <h4 style="color:#CCD1D1;">
              auto-typing: p({{ target.auto_type }})={{ "{:,.0%}".format(target.auto_type_prob ) }}
             ; p({{ target.auto_subtype }}|{{ target.auto_type }})={{ "{:,.0%}".format(target.auto_subtype_prob ) }}
            </h4>
          {% endif %}
        </div>
        <div class="col-auto me-auto">
            <h4 style="color:#CCD1D1;">
              redshift: {{ "{:,.4f}".format(target.redshift) }} ({{ target.redshift_source }})
            </h4>
        </div>

	<div class="col-auto me-auto">
	  <h4 style="color:#CCD1D1;">
    {% if target.x1 == None %}
      stretch: NaN
    {% else %}
	    {% if target.x1 < -4 %}
	       stretch: very fast (<-4)
	    {% elif target.x1 > 4 %}
	         stretch: very slow (>+4)
	    {% else %}
	         stretch: normal
	     {% endif %}
    {% endif %}
	  </h4>
	</div>


	<div class="col-auto me-auto">
	  <h4 style="color:#CCD1D1;">
      {% if target.c == None %}
          color: NaN
      {% else %}
      	  {% if target.c < -0.3 %}
      	    color: very blue (<-0.3)
      	  {% elif target.c > 0.8 %}
      	     color: very red (>0.8)
      	  {% elif target.c > 0.3 %}
      	    color: red (0.3< c < 0.8)
      	  {% else %}
      	    color: normal
      	  {% endif %}
      {% endif %}
	  </h4>
	</div>


   </div>
</div>

<!--- This is a comment --->
<br/>
<!--- This is a comment --->
{% if status == 'typer' %}
  {% include 'typing_buttons.html' %}
{% elif status == 'reviewer' %}
  {% include 'review_buttons.html' %}
{% elif status == 'specter' %}
  {% include 'specter_buttons.html' %}
{% else %}
  {% include 'arbiter_buttons.html' %}
{% endif %}



<!--- This is a comment --->
<br/>
<br/>
<!--- This is a comment --->

<div class="container-fluid">
  <!--- Loop over the spectra --->
  <form method="post" action="/classify/{{ target.id }}" >
    {% for basename, specplot in spectraplots.items() %}
    <div class="row">
      <img src='data:image/png;base64,{{ specplot }}'/>
    </div>
    <div class="row mb-3 ">
      <div class="d-grid gap-2 d-sm-flex justify-content-end">

        <div class="btn-group mb-2 " role="group" aria-label="First group">
          <input type="submit" value=" Report:" name="report" class="btn btn-outline-danger disabled btn-sm">
        </div>

        <div class="btn-group mb-2">
          <input type="submit" value=" data " name="report:spec:data:{{ basename }}" class="btn btn-outline-secondary btn-sm">
          <input type="submit" value=" snid " name="report:spec:snid:{{ basename }}" class="btn btn-outline-secondary btn-sm">
          <input type="submit" value=" line " name="report:spec:emissionline:{{ basename }}" class="btn btn-outline-secondary btn-sm">
          <input type="submit" value=" discard " name="report:spec:rm:{{ basename }}" class="btn btn-outline-danger btn-sm">
        </div>
      </div>
    </div>
    {% endfor %}
  </form>

    <!--- Show the LC --->
  {% if lcplot != None %}
  <div class="row justify-content-md-center">
    <img src='data:image/png;base64,{{ lcplot }}' />
  </div">

  <form method="post" action="/classify/{{ target.id }}" >
    <div class="row mb-3">
      <div class="d-grid gap-2 d-sm-flex justify-content-end">

        <div class="btn-group mb-2" role="group" aria-label="First group">
          <input type="submit" value=" Report:" name="report" class="btn btn-outline-danger disabled btn-sm">
        </div>

        <div class="btn-group mb-2">
          <input type="submit" value=" data " name="report:lightcurve:data" class="btn btn-outline-secondary btn-sm">
          <input type="submit" value=" salt " name="report:lightcurve:salt" class="btn btn-outline-secondary btn-sm">
        </div>
      </div>
    </div>
    </form>
    {% endif %}

</div">


{% endblock %}
