{% extends 'base.html' %}

{% block content %}

{% if name %}
<h1> Update Users </h1>
<br/><br/>
<table class="table table-bordered table-striped table-hover">
  {% for our_user in our_users %}
   <tr>
     <td>{{ our_user.id}}. {{ our_user.name}} - {{ our_user.email}} - {{ our_user.favorite_color}}</td>
   </tr>     
{% endfor %}
</table>

{% else %}
    <h1> Update users... </h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">

<form action="/update/{{ name_to_update.id }}", method="POST">
{{ form.hidden_tag() }}
{{ form.username.label(class="form-label") }}
{{ form. username (class="form-control", value=name_to_update.username) }}
<br/>

{{ form.hidden_tag() }}
{{ form.name.label(class="form-label") }}
{{ form.name(class="form-control", value=name_to_update.name) }}
<br/>
{{ form.hidden_tag() }}
{{ form.email.label(class="form-label") }}
{{ form.email(class="form-control", value=name_to_update.email) }}
  <br/>
  {{ form.submit(class="btn btn-secondary") }}
  <a href="{{ url_for('delete_user', id=name_to_update.id) }}" class="btn btn-danger")> delete </a>
  </form>
  </div>
<br/><br/><br/>

{% endif %}


{% endblock %}


