{% extends 'base.html' %}

{% block content %}

<h1> Update your password </h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">

  <form action="/update/password", method="POST">
    <br/>
    {{ form.password_hash.label(class="form-label") }}
    {{ form.password_hash(class="form-control") }}
    <br/>
    {{ form.newpassword_hash.label(class="form-label") }}
    {{ form.newpassword_hash(class="form-control") }}
    <br/>
    {{ form.password_hash_matched.label(class="form-label") }}
    {{ form.password_hash_matched(class="form-control") }}
    <br/>
    {{ form.submit(class="btn btn-secondary") }}

  </form>
</div>
<br/><br/><br/>


{% endblock %}
